@font-face {
    font-family: sfmono;
    src: url(sfmono.ttf);
}

h1 {
    color: black;
    font-size: 300%;
    margin: 0px;
}

p {
    margin: 0px
}

body {
    font-family: sfmono;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 430px) {
    .flex-main {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }

    .left-container {
        row-gap: 30px;
        flex-direction: column;
        order: 2;
        margin-bottom: 30px
    }

    .right-container {
        order: 1;
    }

    .index-landing {
        display: flex;
        flex-direction: column;
        margin: 10px
    }

    .photo {
        text-align: center;
    }
}

@media only screen and (min-width: 431px) {
    .flex-main {
        flex-direction: row;

    }

    .left-container {
        justify-content: center;
        align-items: center;
        width: 85vw;
        height: 100vh;
        margin-left: 30px;
        margin-right: 30px;
    }

    .right-container {
        width: 15vw;
        height: 100vh;
        margin-right: 15px;
    }

    .index-landing {
        margin-left: 30px;
        margin-right: 30px;
    }

    .dummy-container {
        height: 75vh;
        width: 15vw;
    }
}

.flex-main {
    display: flex;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.left-container {
    display: flex;
}

.top-bar {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name {
    word-spacing: -10px;
    text-align: center;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.hypers {
    display: flex;
    justify-content: center;
    column-gap: 30px
}

.tabs {

    display: flex;
    flex-direction: column;
}

.tab {
    transition: 0.3s;
    font-size: 135%;
    text-decoration: none;
    text-align: center;
}

.tab:hover {
    opacity: 0.6;
}

#headshot {
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

#howdy {
    text-align: left;
    font-size: 450%;
}

#bodytext {
    margin-top: -30px;
    text-align: left;
    font-size: 150%;
}

#bye {
    text-align: right;
    margin-top: 30px;
    font-size: 100%
}

a {
    font-size: 40px;
    color: black;
    transition: color .5s ease-out;
}

#linkedin:hover {
    color: #0a66c2;
}


#linkedin:visited:hover {
    color: #0a66c2;
}

#github:hover {
    color: #9300ff;
}

#github:visited:hover {
    color: #9300ff;
}

#instagram:hover {
    color: #C13584;
}


#instagram:visited:hover {
    color: #C13584;
}

#email:hover {
    color: #f53f48;
}


#email:visited:hover {
    color: #f53f48;
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffc7dba2;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffc7dba2;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffc7dba2;
    }
}

@-ms-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffc7dba2;
    }
}

@-o-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #ffc7dba2;
    }
}